extends baseHtml

block content
    main.main
        .ui.container
            h1.ui.header Welcome to QuizIQ
            h2.ui.header The most challenging trivia questions.
            //- button.ui.huge.primary.button(href='/signup') Let's get started    
            a.ui.huge.teal.button(href='/signup') Let's get started    